<div class="container divcenter">
    <div class="row">
        <div class="col">
          <table class="table">
              <tr>
                  <td><h1><p>Login</p></h1></td>
                  <td><button type="button" (click)=this.goToOfertas() class="btn btn-dark">Listado Ofertas</button></td>
              </tr>
          </table>        
        </div>
      </div>
    <div class="row">
      <div class="col">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <div class="form-group">
                <label for="exampleInputEmail1">Usuario</label>
                <input type="text" class="form-control" id="user" name="user" #name [(ngModel)]="loginModel.username">
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" #password [(ngModel)]="loginModel.password">
                </div>
                <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="check" name="rememberMe" #rememberMe [(ngModel)]="loginModel.rememberMe">
                <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Enviar</button>
            </form>
        </div>
    </div>
</div>